@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #E6F1FD;
    --color-secundario: #0A3871;
    --color-terciario: #D8DFE8;
    --color-cuarto: #FDFDFDFD;
    --color-quinto: #495057;

    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
}

.imagen {
    margin-top: 30px;
    margin-left: 40px;
}

.presentacion {
    padding: 4% 13%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
}

.entrada {
    width: 80%;
    max-width: 100%;
    height: 150px;
    padding: 20px;
    border: none;
    font-size: 32px;
    font-family: var(--fuente-inter);
    color: var(--color-secundario);
    background-color: var(--color-primario);
    outline: none;
    margin-bottom: 20px;
    resize: none;
    overflow: hidden;
}

.entrada::placeholder {
    font-size: 32px;
    font-family: var(--fuente-inter);
    color: var(--color-secundario);
    font-weight: 400;
    text-align: left;
}

.nota {
    font-size: 14px;
    font-family: var(--fuente-inter);
    color: var(--color-quinto);
    margin-bottom: 16px;
    margin-top: 300px;
}

.accion {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.boton_1 {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 180%;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: var(--color-secundario);
    font-size: 16px;
    font-weight: 350;
    padding: 26px 130px;
    text-decoration: none;
    color: var(--color-cuarto);
    font-family: var(--fuente-inter);
}

.boton_2 {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    border-color: var(--color-secundario);
    font-size: 16px;
    font-weight: 350;
    padding: 26px 130px;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
}

.textbox {
    margin-top: -100px;
    margin-left: 200px;
    height: 730px;
    width: 350px;
    padding: 10px;
    background-color: var(--color-cuarto);
    align-items: center;
    align-content: center;
    border-radius: 20px;
    font-size: 24px;
    font-family: var(--fuente-inter);
    color: var(--color-quinto);
}

.parrafo_1 {
    font-family: var(--fuente-inter);
    font-size: 24px;
    color: var(--color-quinto);
    text-align: center;
    margin-bottom: 16px;
}

.parrafo_2 {
    font-family: var(--fuente-inter);
    font-size: 16px;
    color: var (--color-quinto);
    text-align: center;
}

.boton_3 {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border-radius: 25px;
    border-color: var(--color-secundario);
    font-size: 16px;
    font-weight: 350;
    padding: 25px 140px;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    margin-top: 560px;
}

/* Diseño Responsivo para Móviles */
@media (max-width: 767px) {
    .presentacion {
        flex-direction: column;
        align-items:left;
        padding: 5%;
    }

    .imagen{
        margin-top: 10px;
        margin-left: -30px;
    }

    .entrada {
        width: 90%;
        height: 80px;
        font-size: 28px;
    }

    .nota {
        font-size: 12px;
        margin-top: 100px;
        text-align: left;
    }

    .accion {
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }

    .boton_1, .boton_2 {
        width: 90%;
        padding: 15px 180px;
        font-size: 16px;
        margin-left: -85px;
    }

    .textbox {
        margin-top: 20px;
        width: 90%;
        height: 90px;
        padding: 20px;
        font-size: 18px;
        margin-left: -7px;
    }

    .parrafo_1 {
        font-size: 18px;
    }

    .parrafo_2 {
        font-size: 14px;
    }

    .image {
        display: none;
    }

    .boton_3 {
        width: 80%;
        padding: 15px 20px;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 12%;
    }
}

/* Diseño Responsivo para Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .presentacion {
        margin-top: 80px;
        flex-direction:column;
        align-items: left;
        padding: 5%;    
    }

    .entrada {
        width: 200%;
        height: 500px;
        font-size: 32px;
    }

    .nota {
        font-size: 14px;
        margin-top: 20px;
        text-align:left;
    }

    .accion {
        margin-top: 20px;
        flex-direction:row;
        gap: 30px;
    }

    .boton_1, .boton_2 {
        width: 80%;
        padding: 20px 110px;
        font-size: 16px;
        margin-left: -17px;
    }

    .textbox {
        margin-top: 20px;
        height: 90px;
        width: 70%;
        padding: 70px;
        font-size: 20px;
        margin-left: 4px;
    }

    .parrafo_1 {
        font-size: 20px;
    }

    .parrafo_2 {
        font-size: 16px;
    }

    .image {
        display: none;
    }

    .boton_3 {
        width: 80%;
        padding: 20px 250px;
        font-size: 16px;
        margin-top: 20px;
    }
}